<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Do</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/semantic/semantic.min.css" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">
  
  <!-- vue  axios -->
  <script src="https://cdn.bootcss.com/vue/2.3.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container" id="head">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Do</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro"></a></li>
          <li><a href="#about">首页</a></li>
          <li><a href="#features">使用指南</a></li>
          <li><a href="#pricing">FAQ</a></li>
          <li><a href="#team">关于</a></li>
          <li><a href="">{{username}}</a>
            <ul>
              <li><a href="#" >退出登录</a></li>
              <li><a href="#" >注册</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Main    
  ============================-->
  <section id="intro">
      <br><br><br>
      <div class="ui segment" id="center">
            <div class="ui grid">
                <div class="two wide column ">
                </div>
                <div class="twelve wide column ">
                    <div class="ui segment">
                        <div class="ui grid">
                            <div class="five wide column">
                                <div class="ui clearing segment" >
                                    <div id="UserInfo" >
                                        <img  class="ui tiny left floated image" src="../static/image/image.png">
                                        <a id="Username">{{username}}</a><br>
                                        <a id="Useremail">{{useremail}}</a><br><br>
                                        <button class="ui right floated button" style="font-size: 10px">
                                            修改信息</button>
                                    </div>
                                </div>
                                <div class="ui clearing segment" >
                                    <div>
                                        <i class="red circle icon" id="redCircle"></i>
                                        <a id="Notification">通知</a>
                                        <a style="float: right;"  id="SeeNotification" href="#">查看所有通知</a><br>
                                    </div>
                                </div>
                                <div id="UserGroup" class="ui clearing segment" >
                                    <div class="ui black inverted clearing segment" style="padding: 5px;margin: 0">
                                        <a>群组信息</a>
                                        <button class="ui mini green right floated button">创建群组</button>
                                    </div>
                                    <div class="ui clearing segment" id="GroupInfo" v-for="(group,index) of groups" :key="index">
                                        <div id="UserInfo" >
                                            <img  class="ui mini left floated image" src="../static/image/image.png">
                                            <a href="#"> {{group.name}}</a><br>
                                            <a >{{group.description}}</a>
                                        </div>
                                        <div class="ui divider"></div>   
                                    </div>
                                     <a href="#">更多</a> 
                                </div>
                            </div>
                            <div class="eleven wide column">
                                <div class="ui top attached tabular menu">
                                    <a class="item active" data-tab="first" id="Message">所有公告</a>
                                    <a class="item" data-tab="second" id="Task">所有任务</a>
                                </div>
                                <div class="ui container" id="MsgAndTask" v-for="(message,index) of msgs">
                                    <!--一条群组的信息-->
                                    <div class="ui comments" style="margin: 0">
                                        <div class="comment">
                                            <a class="avatar">
                                                <img class="ui mini image" src="https://semantic-ui.qyears.com/images/avatar/small/stevie.jpg">
                                            </a>
                                            <div class="content">
                                                <a class="author">{{message.author}}</a>
                                                <div class="metadata">
                                                    <div class="date">{{message.date}}</div>
                                                </div>
                                                <div class="text">
                                                    {{message.text}}Hey guys, I hope this example comment is helping you read this documentation.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ui compact segments" style="width: 100%;margin: 0">
                                        <div class="ui green segment">
                                            <a href="#" name="Title">{{message.title}}</a>
                                            <button class="ui blue mini right floated button" id="MoreImformation">查看详细</button>
                                        </div>
                                        <div class="ui segment" id="TaskDetail" >
                                            <div v-for="(detail,index) of message.details">
											    <p style="color: black">{{detail}}Pellentesque habitant morbi</p>
											</div>
                                            <button class="ui blue mini right floated button" id="Confirm">收起，确认已阅</button>
                                        </div>
										
                                    </div>
									<div class="ui divider"></div>   
                                </div>                                
							</div>
                        </div>
                    </div>
                </div>
                <div class="two wide column "></div>
            </div>
      </div>
  </section><!-- #intro -->

  
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>SHUXIN</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Avilon
            -->
            Designed by Bootstrap and Semantic
           </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">首页</a>
            <a href="#about" class="scrollto">使用指南</a>
            <a href="#">FAQ</a>
            <a href="#">关于</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../static/lib/semantic/semantic.min.js"></script>
  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
  <script>
    jQuery(document).ready(function($) {
        $("#TaskDetail").hide();
        //$("#redCircle").hide(); 消息通知点进行隐藏
        
        //这边需要写数据传输，判断有没有红色点的函数
        
        $("#MoreImformation").click(function(){
            $("#TaskDetail").show();
        });  
         
        $("#Confirm").click(function(){
            $("#TaskDetail").hide();
        });         

        $('#Message').click(function(){
            $('#Message').attr("class", "item active");
            $('#Task').attr("class", "item");
        });
        
        $('#Task').click(function(){
             $('#Message').attr("class", "item");
            $('#Task').attr("class","item active ");
        });  
    });

  </script>
  <script>
	    let center= new Vue({
		  el: '#center',
		  data: {
			username : '舒鑫',
			useremail :'1025565665@qq.com',
			groups: [
				{name: '中南大学软件学院', description: 'xxxxx描述'},
				{name: '1602', description: 'xxxxx描述'},
			],
			msgs : [
				{author: 'Stevie Feliciano', date: '2 days ago',
				text:'Hey guys, I hope this example comment is helping you read this documentation.',
				title:'Lab Report',
				details:['Pellentesque habitant morbi','Pellentesque habitant morbi','Pellentesque habitant morbi']},
				{author: 'Stevie Feliciano', date: '2 days ago',
				text:'Hey guys, I hope this example comment is helping you read this documentation.',
				title:'架构实验报告',
				details:['Pellentesque habitant morbi','Pellentesque habitant morbi','Pellentesque habitant morbi']},
			],
		  },

		  methods: {
		  
			login: function (){
			   alert('sha')
			}
		  },
		})
		
	    let head= new Vue({
		  el: '#head',
		  data: {
			username : '舒鑫',
			useremail :'1025565665@qq.com',
		  },

		  methods: {
		  
			signOut: function (){
			   alert('sha')
			}
		  },
		})
  </script>
</body>
</html>
