<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Do</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Libraries CSS Files -->
  <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="../static/lib/semantic/semantic.min.css" rel="stylesheet">
  <!-- Main Stylesheet File -->
  <link href="../static/css/style.css" rel="stylesheet">
  
  <!-- vue  axios -->
  <script src="https://cdn.bootcss.com/vue/2.3.0/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container" id="head">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" class="scrollto">Do</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro"></a></li>
          <li><a href="#about">首页</a></li>
          <li><a href="#features">使用指南</a></li>
          <li><a href="#pricing">FAQ</a></li>
          <li><a href="#team">关于</a></li>
          <li><a href="">{{username}}</a>
            <ul>
              <li><a href="#" >退出登录</a></li>
              <li><a href="#" >注册</a></li>
            </ul>
          </li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Main    
  ============================-->
  <section id="intro">
      <br><br><br>
      <div class="ui segment" id="center">
          <div class="ui grid">
              <div class="two wide column"></div>
              <div class="twelve wide column">
              <div class="ui clearing segment" id="taskDes">
                 <a id="TaskName" class="ui text">{{task.name}}</a><br><br> 
                 <a id="publisher" class="ui right floated label">发布者：{{task.publisher}}</a>
                 <a id="time" class="ui right floated label">时间：{{task.time}}</a>
                 <a id="importance" class="ui right floated red label">{{task.importance}}</a>
                 <a id="status" class="ui right floated red label">{{task.status}}</a>
              </div>
              <div class="ui segment" id="taskDetail">
                  <a class="ui label">具体：</a><br>
                  <div class="ui segment" id="detail">
				     <div v-for="(detail,index) of task.details" :key="index">
					    {{detail}}<br>
					 </div>
                  </div>
              </div>
              <div class="ui segment" id="MemberStatus">
                  <a class="ui label">查看成员完成情况：</a>
                  <a class="ui green label">{{task.finished}}/{{task.all}}</a>
                  <a class="ui right floated tiny button"  id="LayMemberout" value="展开">展开</a>
                  <div class="ui divider"></div>
                  <div class="ui container" id="MemberDetail">
                    <div class="ui grid">
                        <!--这边具体数量使用js返回数量来填充，点击展开以后。这里JS写的是隐藏，之后改-->
                        <div class="two wide column" v-for="(finisher,index) of task.finishers" :key="index">
                            <img class="ui mini left floated image" src="../static/image/image.png" >
							<!--完成状态 进行判断-->
							<a class="ui label" v-bind:class="finisher.status"></a><br>			
                            <a>{{finisher.name}}</a>
                        </div>
                    </div>
                  </div>
              </div>
              <button class="ui green right floated button" id="submit">提交，确认收到通知</button> 
              <button class="ui green right floated button" id="submit">返回</button>       
              </div>
              <div class="two wide column"></div>
          </div>
      </div>
  </section><!-- #intro -->

  
  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="ui container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>SHUXIN</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Avilon
            -->
            Designed by Bootstrap and Semantic
           </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">首页</a>
            <a href="#about" class="scrollto">使用指南</a>
            <a href="#">FAQ</a>
            <a href="#">关于</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="../static/lib/jquery/jquery.min.js"></script>
  <script src="../static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="../static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/lib/easing/easing.min.js"></script>
  <script src="../static/lib/wow/wow.min.js"></script>
  <script src="../static/lib/superfish/hoverIntent.js"></script>
  <script src="../static/lib/superfish/superfish.min.js"></script>
  <script src="../static/lib/magnific-popup/magnific-popup.min.js"></script>
  <script src="../static/lib/semantic/semantic.min.js"></script>
  <!-- Template Main Javascript File -->
  <script src="../static/js/main.js"></script>
  <script>
    jQuery(document).ready(function($) {
        var MemberDetail = $("#MemberDetail");
        var LayMemberout = $("#LayMemberout");
        
        MemberDetail.hide();
        
        LayMemberout.click(function(){
            var txt_value = LayMemberout.text();
            if(txt_value == "展开"){                     
              MemberDetail.show();
              LayMemberout.text("收起");
            }
            else if(txt_value == "收起"){                     
                MemberDetail.hide();
                LayMemberout.text("展开");
            }
        });
      
        $("#submit").click(function(){
        
        });
    });

  </script>
  <script>
    let center= new Vue({
		  el: '#center',
		  data: {

			task : {
			   name : "今天下午要进行测试",
			   publisher : "舒鑫",
				time : "2018-8-12",
				importance : "重要",
				status : "待完成",
				details : [
				    'XXXXXXXXXX',
					'XXXXXXXXXX',
					'XXXXXXXXXX',
					'XXXXXXXXXX',
					'XXXXXXXXXX',
				],
				all : "55",
				finished : "45",
				finishers : [
				  {name : "上官猪猪",status : "green"},
				  {name : "上官猪猪",status : "green"},
				  {name : "上官猪猪",status : "red"},
				  {name : "上官猪猪",status : "green"},
				  {name : "上官猪猪",status : "red"},
				  {name : "上官猪猪",status : "red"},
				  {name : "上官猪猪",status : "green"},
				  {name : "上官猪猪",status : "red"},
				  {name : "上官猪猪",status : "green"},
				  {name : "上官猪猪",status : "red"},
				],
			},
		  },

		  methods: {
		  
			login: function (){
			   alert('sha')
			}
		  },
		})
  
  
    let head= new Vue({
		el: '#head',
		data: {
			username : '舒鑫',
			useremail :'1025565665@qq.com',
		},

		methods: {
		  
			signOut: function (){
			   alert('sha')
		}
		},
	})
  </script>
</body>
</html>
